aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
certifi==2020.12.5
chardet==3.0.4
discord.py==1.5.1
google-search-results==2.0.0
googlesearch-python
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.11.21
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
multidict==4.7.6
requests==2.25.1
rfc3986==1.4.0
sniffio==1.2.0
gtr
urllib3==1.26.2
yarl==1.5.1
termcolor
http.client
dataclasses
